<!DOCTYPE html>
<html >
  <head>
    <title>Admin</title>

    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href=" ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
        <link rel="stylesheet" type="text/css" href="./css/animate-custom.css" />
    
  </head>
  
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">LUSD Token</a>
                <form class="d-flex">
                    
                    <input type="button" class="btn btn-outline-success" id="btn-connect" value="Connect Metamask"></input>
                </form>
            </div>
        </nav>

        <div class="myDiv container">
            <h4><b>Check Balance : </b></h4>
            <label>Balance  :</label><label id="bal"></label><br>
            <input type="button" class="btn btn-primary btn-lg" id="btn-balance" value="Balance"></input>	
        </div><br><br>

        <div class="myDiv container">
            <h4><b>Withdraw : </b></h4>
            <input type="text" id="account" class="form-control" width="400" placeholder="User Account"><br>
            <input type="button" class="btn btn-primary btn-lg" id="btn-withdraw" value="Withdraw"></input>

        </div><br><br>

       <script src="../js/admin.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
         crossorigin="anonymous"></script>
         <script src="../assets/js/jquery.js"></script>
         <script src="../assets/js/web3.min.js"></script>
         <script src="../assets/js/abi.js"></script>
         <script src="../assets/js/contractAddress.js"></script>

    </body>

    </html>
